.profile-container {
    max-width: 800px;
}

.profile-card {
    border-radius: 16px;
    background: #fff;
}

.profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
}

.icon {
    font-size: 18px;
    margin-right: 10px;
    color: #555;
}

.avatar-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #444;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: bold;
}
