{% extends "base.html" %}
{% load static %}

{% block title %}HireEra – Find Your Job{% endblock %}

{% block navbar %}
    {% include "core/navbar.html" %}
{% endblock %}

{% block content %}

<div class="text-center mt-5">

    <!-- Search Bar Section -->
    {% include "jobs/search_bar.html" %}

    <!-- Logo + Title -->
    <h1 class="fw-bold display-1 text-primary mt-5 mb-0">
        HireEra
    </h1>
    
    <p class="fs-5 fw-semibold text-dark mb-0">
        Your next job starts here
    </p>

    <p class="fs-8 fw-light text-dark">
        Create an account or sign in to see your personalized job recommendations.
    </p>

    <!-- Get Started Button -->
    <a href="/seeker/login/" class="btn btn-primary btn-lg mt-3 px-5 py-1">
        Get Started →
    </a>

</div>

{% endblock %}
